<!DOCTYPE html>
<html>
    <head>
        <title>Registration Page</title>
    </head>

    <body>
        <h1>Registration Page</h1>

        <form action = "/register" method = "post" enctype = "multipart/form-data">
            <div>
                <label for = "id">User ID</label>
                <input type = "text" placeholder = "Enter User ID" name = "id" size = "15" required>
            </div>
    
            <br>
            
            <div>
                <label for = "username">Username</label>
                <input type = "text" placeholder = "Enter Username" name = "username" size = "15" required>
            </div>
    
            <br>
    
            <div>
                <label for = "password">Password</label>
                <input type = "password" placeholder = "Enter Password" name = "password" size = "15" required>
            </div>
    
            <br>
    
            <div>
                <label for = "image">Upload image</label>
                <input type = "file" name = "file" accept = "image/*" required>
            </div>
    
            <br>
            
            <button name = "register_button" type = "submit">Register</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
        </form>

        <br>

        <form action = "/loginpage">
            <button name = "login_page_button" type = "submit">Return to login page</button>
        </form>
    </body>
</html>